<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <div th:replace="base :: conf2"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
      <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
        <div th:replace="navlateral :: navlateral"></div>
      </aside>
  
        <main class="main-content position-relative border-radius-lg ">

            <!-- Navbar -->
   		    <div th:replace="navbar :: navbar"></div>
            <!-- End Navbar -->
           <div class="container-fluid py-3">
              <div class="row">
                <div class="col-12">
                  <div class="card mb-4">
                    <div class="card-header pb-0">
                      <h6>Carrinho de Compras</h6>
                        <br/>
                            <div th:each = "m : ${msg}">
                                <span th:text="${m}"></span>
                            </div>
                        <br/>
                    </div>

                    <form action="finalizarCompra" method="post">
                        <a href="/lojadelivro"><button type="button"class="btn btn-success">Adicionar +</button></a>
                              <button type="submit" class="btn btn-primary">Finalizar Compra</button>
                            <div class="card-body px-0 pt-0 pb-2">
                              <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                  <thead>
                                    <tr>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Capa</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Título</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Quantidade</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Excluir</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr th:each="item : ${listaitens}">
                                    <td th:text = "${item.livro.id}"></td>
                                      <td>
                                        <div class="d-flex px-2 py-2 ">
                                          <div>
                                            <img th:if="${item.livro.image != null}" th:src="@{/imagemloja/{idlivroloja}(idlivroloja=${item.livro.id})}" class="avatar avatar-sm me-3" alt="user1" height="50px" width="50px">
                                            <img th:if="${item.livro.image == null}" class="avatar avatar-sm me-3" alt="user1" height="50px" width="50px">
                                          </div>
                                        </div>
                                      </td>
                      
                                     <td th:text = "${item.livro.titulo}"></td>
                                     <td> <span th:text="${item.quantidade}"></span>
                       
                                        <a class="btn btn-success" th:if="${item.quantidade < item.livro.estoque}"
                                            th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.livro.id}, acao=${1})}">+</a>

                                        <a class="btn btn-success" th:if="${item.quantidade > item.livro.estoque}"
                                        onclick="return confirm('A quantidade excedeu o estoque');"
                                            th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.livro.id}, acao=${1})}">+</a>

                                        <a class="btn btn-success"  th:if="${item.quantidade != 1}"
                                           th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.livro.id}, acao=${0})}">-</a>

                                        <a class="btn btn-success"  th:if="${item.quantidade == 0}"
                                           onclick="return confirm('A quantidade não pode ser menor 0');">-</a>
                                    </td>

                                      <td class="align-middle text-center" th:text = "${item.valorTotal}"></td>
                                      <td class="align-middle text-center">
                                       <a th:href="@{/removerProduto/{idlivro}(idlivro=${item.livro.id})}">Remover</a>
                                      </td>
                                    </tr>
                    
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Valor Total</td>
                                        <td oninput="moeda(this)" ><span th:text="${compra.valorTotal}"></span></td>
                                    <tr>
                                </tbody>
                                </table>
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
                                      clientes
                                  </button>
                
                    <!--      <div class="col-md-7">
                          <div class="form-group">
                            <label for="cliente" class="form-control-label">Cliente</label>
                            <select class="form-select" id="cliente" name="cliente" th:field="*{compra.cliente}">
                                <option th:each="f : ${clientes}" th:value="${f.id}" th:text="${f.nome}">
                            </select>
                          </div>
                          </div> -->
                           <!--       <form class="form-inline" action="pesquisarcliente2" method="get">
                                      <div class="form-group mb-2">
                                          <label class="form-control-label" >Pesquisar por Nome</label>
                                      </div>
                                      <div class="form-group col-md-4">
                                          <input class="form-control" name="nomepesquisa" id="nomepesquisa" th:value="${nomepesquisa}">
                                      </div>
                                      <input type="submit" value="Buscar" class="btn btn-primary">
                                  </form> -->
                                  <br><br>
                                  <div class="form-group" th:field="*{compra.cliente}">
                                      <label  class="form-control-label">Cliente</label>
                                      <input class="form-select" id="cliente" name="cliente" >
                                  </div>
                                  <br><br>
                                  <div class="card-body px-0 pt-0 pb-2">
                                      <div class="table-responsive p-0">
                                          <table class="table align-items-center mb-0">

                                              <thead>
                                              <tr>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID</th>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Nome</th>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">CPF</th>
                                                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Adicionar</th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                              <tr th:each="cliente : ${clientes}">
                                                  <td th:text = "${cliente.id}"></td>

                                                  <td><span th:text = "${cliente.nome}"></span></td>

                                                  <td><span th:text = "${cliente.cpf}"></span></td>

                                                  <td class="align-middle text-center">
                                                      <a th:href="@{/addcliente/{idcliente}(idcliente=${cliente.id})}">Adicionar</a>
                                                  </td>

                                              </tr>
                                              </tbody>
                                          </table>

                                      </div>
                                  </div>

                              </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>
      </div>
		<!-- Fim da página -->

            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <table class="table">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>João</td>
                                        <td>123.456.789-00</td>
                                    </tr>
                                    <!-- ... outras linhas da tabela ... -->
                                    </tbody>
                                </table>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary">Salvar mudanças</button>
                        </div>
                    </div>
                </div>
            </div>


    </div>
  </main>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <script type="text/javascript">
  function moeda(z){
	  v = z.value;
	  v=v.replace(/\D/g,"") // permite digitar apenas numero
	  v=v.replace(/(\d{1})(\d{1,2})$/,"$1.$2") // coloca virgula antes dos ultimos 2 digitos
	  z.value = v;
	  }
  
  </script>
  
</body>

</html> 