<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <div th:replace="base :: conf2"></div>
</head>

<body class="g-sidenav-show   bg-gray-100">

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  
  <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div th:replace="navlateral :: navlateral"></div>
  </aside>
  
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
   		<div th:replace="navbar :: navbar"></div>
    <!-- End Navbar -->
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Lista de Pedidos</h6>
              
            </div>
            
            </br>
            </br>
        
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Cliente</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">R$</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Excluir</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Imprimir</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <tr th:each="pedido : ${pedidos}">
                    
                    <td th:text = "${pedido.id}">
                    	
                    </td>
                    
                    <td >
                    	<span th:text = "${pedido.cliente.nome}"></span>
                    </td>
                    
               
                      <td th:text = "${pedido.valorTotal}">
                        	
                      </td>
                      
                      <td class="align-middle text-center">
                        Excluir
                      </td>
                      
                      <td class="align-middle text-center">
                       	PDF
                      </td>
                      
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    	
    
    
		<!-- Fim da página -->       
    </div>
  </main>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  
</body>

</html> 